
<nav class="navbar navbar-expand-lg navbar-light" id="nav1">
    <a class="navbar-brand" id="logo" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

             {% for item in menu_items %}
                 <li class="nav-item">
                    <a class="nav-link" href={{item.href}}>{{item.name}}</a>
                 </li>
             {% endfor %}


        </ul>

    <form class="form-inline my-2 my-lg-0">
        <button id="btn_eng" class="btn  my-2 my-sm-0" type="button">ENG</button>
        <button id="btn_ukr" class="btn  my-2 my-sm-0 ml-2" type="button">UKR</button>
    </form>

    </div>
</nav>

